{% extends "base.html" %}

{% block title %}
Add a local rule
{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add a local rule</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/rules">Rule</a></li>
                        <li class="breadcrumb-item active">Add a local rule</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        Press Sumbit button after adding the local rule.
                    </p>
                </div>
            </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">

        {% include 'messages.html' %}

        <form class="form-horizontal" method="post" action="/rules/add">

            {{ form.hidden_tag() }}

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Rule information</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group row">
                        <label for="rule-name" class="col-sm-1 col-form-label">Rule name:</label>
                        <div class="col-sm-10">
                            {{ form.name(placeholder="Rule name", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rule-code" class="col-sm-2 col-form-label">Rule code:</label>
                        <div class="col-sm-12">
                            {{ form.rule(placeholder="Add the rule code here", class="form-control", rows="12") }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <a href="/rules" class="btn btn-secondary">Cancel</a>
                    <input name="save-local-rule" type="submit" value="Add new local rule"
                        class="btn btn-default float-right">
                </div>
            </div>

        </form>

    </section>
</div>

{% endblock content %}