<table class="table table-sm table-hover table-head-fixed occurences-table">
    <thead class="thead-light">
        <tr>
            <th class="th-col-width-5">#</th>
            <th class="th-col-width-30">Snippet</th>
            <th class="th-col-width-25">Folder</th>
            <th class="th-col-width-20">File</th>
            <th class="th-col-width-5">Lines</th>
            <th class="th-col-width-5">Actions</th>
            <th class="th-col-width-10">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for occurence in vulnerability.occurences %}
        <tr class="tr-occurence font-weight-normal">
            <td onclick="ajaxOccurenceCode(this, '{{ occurence.id }}')">
                {{ loop.index }}
            </td>
            <td onclick="ajaxOccurenceCode(this, '{{ occurence.id }}')">
                <span class="font-weight-normal text-monospace text-sm occurence-snippet">
                    {{ occurence.match_string }}
                </span>
            </td>
            {% set folder = occurence.file_path[:-(occurence.file_path.split('/') | last | length)] %}
            <td onclick="ajaxOccurenceCode(this, '{{ occurence.id }}')" title="{{ folder }}">
                <span class="font-weight-normal">
                    {{ folder }}
                </span>
            </td>
            {% set file = occurence.file_path.split('/')|last %}
            <td onclick="ajaxOccurenceCode(this, '{{ occurence.id }}')" title="{{ file }}">
                <span class="font-weight-normal">
                    {{ file }}
                </span>
            </td onclick="ajaxOccurenceCode(this, '{{ occurence.id }}')">
            <td onclick="ajaxOccurenceCode(this, '{{ occurence.id }}')">
                <span class="font-weight-normal">
                    {{ occurence.position.line_start }}
                    {% if occurence.position.line_end > occurence.position.line_start %}
                    -{{ occurence.position.line_end }}
                    {% endif %}
                </span>
            </td>
            <td class="table-action">
                <button class="btn btn-sm bg-lightblue" onclick="ajaxOccurenceDetails(this, '{{ occurence.id }}')"
                        data-toggle="modal" data-target="#modal-occurence-details">
                        Details
                </button>
            </td>
            <td class="table-status {% if occurence.status == 1 %}green{% elif occurence.status == 2 %}red{% endif %}">
                <select id="status-filter" name="status" onchange="saveStatus('{{occurence.id }}', '{{vulnerability.id}}', this.value)">
                    {% for elem in status %}
                        <option value="{{ elem['id'] }}" {% if occurence.status == elem['id'] %} selected {% endif %}> {{ elem['name'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block css %}
<style>
.green {
    background-color: rgb(118, 228, 118);
}

.red {
    background-color: rgb(233, 53, 53);
}
</style>
{% endblock css%}