{% extends "base.html" %}

{% block title %} Projects {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New scan</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item active">New scan</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-10">
                    <p class="mb-3">
                        Fill the following form to launch a scan on the project.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'messages.html' %}
        
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-file-archive"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Archive name</span>
                        <span class="info-box-number">
                            {{ project.archive_filename }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-file"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Files</span>
                        <span class="info-box-number">
                            {{ project.project_lines_count.total_file_count }}
                        </span>
                    </div>
                </div>
            </div>

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-code"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lines of code</span>
                        <span class="info-box-number">{{ project.project_lines_count.total_code_count }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-hashtag"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lines of comment</span>
                        <span class="info-box-number">{{ project.project_lines_count.total_comment_count }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <form method="post" action="/analysis/scans/launch">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 col-xl-7">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Scan configuration</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if form.errors or error_message|length %}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-exclamation-triangle"></i> Form error</h5>
                                {{ error_message }}
                                <ul class="errors">
                                    {% for error in form.errors %}
                                    <li>{{ error }}: {{ form.errors[error] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <label class="form-label">Select rule packs</label>
                            <div class="row">
                                {% for rp_id, rp_label in form.rule_packs.choices %}
                                    <div class="col-md-3 mb-3">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="rp{{ rp_id }}" name="rule_packs" value="{{ rp_id }}">
                                            <label class="custom-control-label" for="rp{{ rp_id }}">
                                                {{ rp_label }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label for="scan-ignore-files" class="form-label">Ignore filenames, directorys or extensions</label>
                                        {{ form.ignore_filenames(
                                        placeholder="Enter a list of comma-separated filenames, directorys or extensions to ignore",
                                        class="form-control", rows="4") }}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-default btn-block">
                                    <span class="fas fa-play-circle"></span> Launch scan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-tertiary">
                                <div class="card-header">
                                    <h3 class="card-title">Detected languages</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="ct-chart-languages"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </section>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- ChartJS -->
<script src="/static/assets/plugins/chart.js/chart.min.js"></script>

<script type="text/javascript">

    var data_labels = [
        {% for c_top5 in top_language_lines_counts(project.project_lines_count, 5) %}
        "{{ c_top5.language }}",
        {% endfor %}
    ];

    var data_values = [
        {% for c_top5 in top_language_lines_counts(project.project_lines_count, 5) %}
        {{ (c_top5.code_count / project.project_lines_count.total_code_count * 100) | round | int }},
        {% endfor %}
    ];

    document.addEventListener("DOMContentLoaded", function () {
        // Doughnut chart
        new Chart(document.getElementById("ct-chart-languages"), {
            type: "doughnut",
            data: {
                labels: data_labels,
                datasets: [{
                    data: data_values,
                    borderColor: "transparent",
                    backgroundColor: [
                        "#3f6791",
                        "#6c757d",
                        "#00bc8c",
                        "#17a2b8",
                        "#f39c12"
                    ],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutoutPercentage: 65,
                plugins: {
                legend: {
                    position: "right"
                }
            },
            }
        });
    });

</script>
{% endblock javascripts %}