<div class="modal-dialog" role="document">
  <div class="modal-content" style="width: 700px;overflow-x:auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Source File Listing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="max-height: 150px; overflow-y:auto; border-bottom: 1px solid #ccc">
          <ul style="list-style-type:none; padding-left: 0">
            {% for elt in inspectortag %}

            <li>
              <a href="#" onclick="insp('{{ elt.id }}');">
                {{ elt.filename }}
              </a>
            </li>
          </ul>
          {% endfor %}
        </div>
        <h5> Severity: {{ match.severity }}</h5>
        <!-- <br>
          <br>
          <h4> Location :</h4>
          <p> Start Column: {{inspectortag.start_column}} - Start Line: {{inspectortag.start_line}}</p>
          <p> End Column: {{inspectortag.end_column}} - End Line: {{inspectortag.end_line}}</p> -->
        <div style="height: 360px; overflow-y:auto;">
          <div id="editor-container" style="margin-top: 5px;">
            <div id="excerpt " style="height: 350px; max-height: 350px;">
              {{inspectortag[0].excerpt}}
            </div>
          </div>
        </div>
       
        <div>
          <h7 style="color:blue;" id="match-line-number"></h7>
        </div>
      </div>
      <!-- <br>
        <br>
        <h4> Excerpt :</h4>
        <div id="code-enlight"> {{inspectortag.excerpt}}</p>
        </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
