{% extends "base.html" %}

{% block title %} Vulnerable dependencies {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Vulnerable dependencies</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item"><a href="/projects/{{ analysis.project.id }}">{{
                                analysis.project.name }}</a></li>
                        <li class="breadcrumb-item active">Dependencies</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        The following table shows all vulnerable dependencies.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-default" 
                        href="/analysis/{{ analysis.id }}/dependencies/export/csv">
                            <span class="fas fa-file-csv"></span>
                            Export CSV
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Vulnerable dependencies card -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Vulnerable dependencies</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="vulnerable-deps-table" class="table table-hover dataTable" role="grid">
                            <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Dependency</th>
                                    <th>Version</th>
                                    <th>Insights</th>
                                    <th>Severity</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c_vuln in analysis.vulnerable_dependencies %}
                                <tr>
                                    <td class="align-middle">
                                        <strong>{{ c_vuln.common_id }}</strong>
                                    </td>
                                    <td class="align-middle">
                                        <strong>{{ c_vuln.pkg_name | capitalize }}</strong>
                                        <span class="badge badge-lg bg-lightblue">
                                            {{ c_vuln.pkg_type }}
                                        </span>
                                        <br />
                                        <small>
                                            {{ c_vuln.pkg_ref }}
                                        </small>
                                    </td>
                                    <td class="align-middle">
                                        {% if c_vuln.version != "" %}
                                        v{{ c_vuln.version }}
                                        {% endif %}
                                        {% if c_vuln.fix_version != "" %}
                                        <br />
                                        <span class="badge badge-lg bg-olive">
                                            Fix: v{{ c_vuln.fix_version }}
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if c_vuln.vendor_confirmed %}
                                        <span class="badge badge-lg bg-light">
                                            <i class="fas fa-stamp"></i>
                                            Vendor confirmed
                                        </span><br />
                                        {% endif %}
                                        {% if c_vuln.has_poc %}
                                        <span class="badge badge-lg bg-warning">
                                            <i class="fas fa-exclamation"></i>
                                            Has PoC
                                        </span><br />
                                        {% endif %}
                                        {% if c_vuln.has_exploit %}
                                        <span class="badge badge-lg bg-maroon">
                                            <i class="fas fa-skull-crossbones"></i>
                                            Known exploit
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.direct %}
                                        <span class="badge badge-lg bg-gray-dark">
                                            <i class="fas fa-arrow-up"></i>
                                            Direct usage
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.indirect %}
                                        <span class="badge badge-lg bg-gray">
                                            <i class="fas fa-arrow-down"></i>
                                            Indirect dependency
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.distro_specific %}
                                        <span class="badge badge-lg bg-green">
                                            <i class="fas fa-bullseye"></i>
                                            Distro specific
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.direct_dep %}
                                        <span class="badge badge-lg bg-grey">
                                            <i class="fas fa-bullseye"></i>
                                            Direct dependencies
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.known_exploit %}
                                        <span class="badge badge-lg bg-red">
                                            <i class="fas fa-exclamation"></i>
                                            Known exploit
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.exploitable %}
                                        <span class="badge badge-lg bg-red">
                                            <i class="fas fa-exclamation"></i>
                                            Exploitable
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.flagged_weakness %}
                                        <span class="badge badge-lg bg-grey">
                                            <i class="fas fa-flag"></i>
                                            Flagged weakness
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.suppress_for_containers %}
                                        <span class="badge badge-lg bg-orange">
                                            <i class="fas fa-volume-off"></i>
                                            Suppress for containers
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.uninstall_candidate %}
                                        <span class="badge badge-lg bg-grey">
                                            <i class="fas fa-cut"></i>
                                            Uninstall candidate
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.indirect_dependency %}
                                        <span class="badge badge-lg bg-blue">
                                            <i class="fas fa-book"></i>
                                            Indirect dependency
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.local_install %}
                                        <span class="badge badge-lg bg-blue">
                                            <i class="fas fa-book"></i>
                                            Local install
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.reachable_Bounty_target %}
                                        <span class="badge badge-lg bg-blue">
                                            <i class="fas fa-book-bookmark"></i>
                                            Reachable Bounty target
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.bug_Bounty_target %}
                                        <span class="badge badge-lg bg-grey">
                                            <i class="fas fa-book-bookmark"></i>
                                            Bug Bounty target
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.has_PoC %}
                                        <span class="badge badge-lg bg-blue">
                                            <i class="fas fa-book-bookmark"></i>
                                            Has PoC
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.reachable %}
                                        <span class="badge badge-lg bg-grey">
                                            <i class="fas fa-sheet-plastic"></i>
                                            Reachable
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.vendor_Confirmed %}
                                        <span class="badge badge-lg bg-grey">
                                            <i class="fas fa-sheet-plastic"></i>
                                            Vendor Confirmed
                                        </span>
                                        {% endif %}
                                        {% if c_vuln.reachable_and_Exploitable %}
                                        <span class="badge badge-lg bg-red">
                                            <i class="fas "></i>
                                            Reachable and Exploitable
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if c_vuln.severity == "critical" %}
                                        <span class="badge badge-lg bg-danger p-2 pl-3 pr-3 text-lg">
                                            {% elif c_vuln.severity == "high" %}
                                            <span class="badge badge-lg bg-orange p-2 pl-3 pr-3 text-lg">
                                                {% elif c_vuln.severity == "medium" %}
                                                <span class="badge badge-lg bg-warning p-2 pl-3 pr-3 text-lg">
                                                    {% else %}
                                                    <span class="badge badge-lg bg-info p-2 pl-3 pr-3 text-lg">
                                                        {% endif %}
                                                        {{ c_vuln.cvss_score }}
                                                    </span>
                                    </td>
                                    <td class="text-right py-0 align-middle">
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-default"
                                                onclick="ajaxVulnerableDependencyDetails(this, '{{ c_vuln.id }}')"
                                                data-toggle="modal" data-target="#modal-vulnerable-dependency-details">
                                                <i class="fas fa-eye"></i>
                                                Details
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>

<!-- VulnerableDependencyDetails modal dialog -->
<div class="modal fade" id="modal-vulnerable-dependency-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-vulnerable-dependency-details" role="document">
        <!-- Placeholder for rule details -->
    </div>
</div>
<!-- End VulnerableDependencyDetails modal dialog -->

{% endblock content %}

{% block javascripts %}
{% include 'toasts.html' %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script type="text/javascript">
    $("#vulnerable-deps-table").DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        paging: false,
        info: false
    });
</script>
{% endblock javascripts %}