{% extends "base.html" %}

{% block title %} Vulnerable dependencies {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Vulnerable dependencies</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item"><a href="/projects/{{ analysis.project.id }}">{{
                                analysis.project.name }}</a></li>
                        <li class="breadcrumb-item active">Dependencies</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        The following table shows all vulnerable dependencies.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-default" href="/analysis/{{ analysis.id }}/dependencies/export/csv">
                            <span class="fas fa-file-csv"></span>
                            Export CSV
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Vulnerable dependencies card -->
        <div class="card card-tabs card-default">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    {% for type in types %}
                    <li class="nav-item">
                        <a class="nav-link text-dark
                        {% if type == types[0] %}
                        active
                        {% endif %} 
                        " id="tab-{{ type }}" data-toggle="pill" href="#tabPane-{{ type }}"
                            role="tab" aria-controls="ctrl-{{ type }}" 
                            {% if type==types[0] %} 
                            aria-selected="true"
                            {% else %}
                            aria-selected="false"
                            {% endif %}>
                            <i class="fas fa-list"></i> 
                            {{ type }}
                            ( {{ analysis.vulnerable_dependencies | selectattr("pkg_type", "equalto", type) | list | count }} )
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tabContent">
                    {% for type in types %}
                    <div class="tab-pane fade 
                    {% if type == types[0] %}
                    show active
                    {% endif %}                    
                    " id="tabPane-{{ type }}" role="tabpanel" aria-labelledby="ctrl-{{ type }}">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="vulnerable-deps-table-{{ type }}" class="table table-hover dataTable"
                                    role="grid">
                                    <thead>
                                        <tr>
                                            <th>Reference</th>
                                            <th>Vulnerable dependency</th>
                                            <th>Fix version</th>
                                            <th>Insights</th>
                                            <th>Severity</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c_vuln in analysis.vulnerable_dependencies %}
                                        {% if c_vuln.pkg_type == type %}
                                        <tr>
                                            <td class="align-middle">
                                                <strong>{{ c_vuln.common_id }}</strong>
                                            </td>
                                            <td class="align-middle">
                                                <strong>{{ c_vuln.pkg_name | capitalize }}</strong>
                                                {% if c_vuln.version != "" %}
                                                v{{ c_vuln.version }}
                                                {% endif %}
                                                <small>
                                                    {% if c_vuln.source_files != None %}
                                                    {% set sources = c_vuln.source_files.split(',') %}
                                                    {% for c_src in sources %}
                                                    <br />{{ c_src }}
                                                    {% endfor %}
                                                    {% endif %}
                                                </small>
                                            </td>
                                            <td class="align-middle">
                                                {% if c_vuln.fix_version != "" %}
                                                <span class="badge badge-lg bg-olive">
                                                    v{{ c_vuln.fix_version }}
                                                </span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle">
                                                {% for var in insights_mapping %}
                                                    {% if c_vuln[var] %}
                                                    <span class="badge badge-lg bg-{{ insights_colors[var] }}">
                                                        <i class="{{ insights_icons[var] }}"></i>
                                                        {{ insights_mapping[var] }}
                                                    </span><br />
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td class="align-middle">
                                                {% if c_vuln.severity == "critical" %}
                                                <span class="badge badge-lg bg-danger p-2 pl-3 pr-3 text-lg">
                                                    {% elif c_vuln.severity == "high" %}
                                                    <span class="badge badge-lg bg-orange p-2 pl-3 pr-3 text-lg">
                                                        {% elif c_vuln.severity == "medium" %}
                                                        <span class="badge badge-lg bg-warning p-2 pl-3 pr-3 text-lg">
                                                            {% else %}
                                                            <span class="badge badge-lg bg-info p-2 pl-3 pr-3 text-lg">
                                                                {% endif %}
                                                                {{ c_vuln.cvss_score }}
                                                            </span>
                                            </td>
                                            <td class="text-right py-0 align-middle">
                                                <div class="btn-group btn-group-sm">
                                                    <a href="#" class="btn btn-default"
                                                        onclick="ajaxVulnerableDependencyDetails(this, '{{ c_vuln.id }}')"
                                                        data-toggle="modal"
                                                        data-target="#modal-vulnerable-dependency-details">
                                                        <i class="fas fa-eye"></i>
                                                        Details
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
</div>

<!-- VulnerableDependencyDetails modal dialog -->
<div class="modal fade" id="modal-vulnerable-dependency-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-vulnerable-dependency-details" role="document">
        <!-- Placeholder for rule details -->
    </div>
</div>
<!-- End VulnerableDependencyDetails modal dialog -->

{% endblock content %}

{% block javascripts %}
{% include 'toasts.html' %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

{% for type in types %}
<script type="text/javascript">
    $("#vulnerable-deps-table-{{ type }}").DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        paging: false,
        info: false
    });
</script>
{% endfor %}

{% endblock javascripts %}