{% extends "base.html" %}

{% block title %} Projects {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Projects</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        The following table shows all projects your user account is authorized to access.
                        You can view, edit or delete an existing project, or create a new project.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <button class="btn btn-default" data-toggle="modal" data-target="#modal-new-project">
                            <span class="fas fa-plus-circle"></span>
                            New Project
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'messages.html' %}

        <!-- Default box -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Projects list</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="p-3">
                    <table class="table table-striped projects" id="projects-list-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Creator</th>
                                <th>Analysis duration</th>
                                <th>Risk level</th>
                                <th>Findings</th>
                                <th>Languages</th>
                                <th>Lines of code</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c_project in projects %}
                            {# Trigger auto-refresh if state is STATE_ANALYSING % #}
                            {% if c_project.status == 2 or c_project.status == 4 %}
                            <div id="{{ c_project.id}}" class="check-status"></div>
                            {% endif %}
                            <tr>
                                <td>
                                    {{ c_project.id }}
                                </td>
                                <td>
                                    {% if c_project.status == 0 or c_project.status == 3 or c_project.status == 5 %}
                                    <a href="/analysis/scans/new/{{ c_project.id }}">
                                        {% elif c_project.status == 1 %}
                                        <a href="/projects/{{ c_project.id }}">
                                            {% elif c_project.status == 2 or c_project.status == 4 %}
                                            <a href="">
                                                {% endif %}
                                                {{ c_project.name }}
                                            </a>
                                            <br />
                                            <small>
                                                {% if c_project.analysis is not none and c_project.analysis.finished_on
                                                is not
                                                none
                                                %}
                                                {{ c_project.analysis.finished_on.strftime("%-d %B, %Y %H:%M") }}
                                                {% else %}
                                                Not yet analyzed
                                                {% endif %}
                                            </small>
                                </td>
                                <td>
                                    {{ c_project.creator.username }}
                                </td>
                                <td>
                                    {% if c_project.analysis is not none and c_project.analysis.finished_on is not none
                                    %}
                                    {% set duration = (c_project.analysis.finished_on -
                                    c_project.analysis.started_on)|string %}
                                    {{ duration.split('.', 2)[0] }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="progress progress-sm progress-striped active">
                                        {% if c_project.risk_level > 70 %}
                                        <div class="progress-bar bg-danger" style="width: {{ c_project.risk_level }}%">
                                        </div>
                                        {% elif c_project.risk_level > 30 %}
                                        <div class="progress-bar bg-warning" style="width: {{ c_project.risk_level }}%">
                                        </div>
                                        {% else %}
                                        <div class="progress-bar bg-info" style="width: {{ c_project.risk_level }}%">
                                        </div>
                                        {% endif %}
                                    </div>
                                    <small>{{ c_project.risk_level }}%</small>
                                </td>
                                <td>
                                    {{ c_project.occurences_count }}
                                </td>
                                <td class="text-lg text-left">
                                    {% if c_project.project_lines_count is not none %}
                                    {% for c_lang in top_supported_language_lines_counts(c_project.project_lines_count)
                                    %}
                                    <i class="{{ lang_icons[c_lang.name] }} text-secondary"
                                        title="{{ c_lang.name }}"></i>
                                    &nbsp;
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ c_project.project_lines_count.total_code_count }}
                                </td>
                                <td>
                                    {% if c_project.status == 0 %}
                                    <span class="badge badge-lg bg-primary p-2 pl-3 pr-3">New</span>
                                    {% elif c_project.status == 1 %}
                                    <span class="badge badge-lg bg-success p-2 pl-3 pr-3">Ready</span>
                                    {% elif c_project.status == 2 %}
                                    <span
                                        class="badge badge-lg bg-warning progress-bar progress-bar-striped progress-bar-animated p-2 w-100">
                                        Analyzing
                                    </span>
                                    {% elif c_project.status == 3 %}
                                    <span class="badge badge-lg bg-danger p-2 pl-3 pr-3"
                                        title="{{ c_project.error_message }}">Error</span>
                                    {% elif c_project.status == 4 %}
                                    <span class="badge badge-lg bg-warning p-2 pl-3 pr-3">Pending</span>
                                    {% elif c_project.status == 5 %}
                                    <span class="badge badge-lg bg-danger p-2 pl-3 pr-3">Aborted</span>
                                    {% endif %}
                                </td>
                                <td class="project-actions">

                                    {% if c_project.status == 2 or c_project.status == 4 %}
                                    {% if c_project.status != 4 %}
                                    <a class="btn btn-default btn-sm text-danger"
                                        href="/analysis/scans/stop/{{ c_project.analysis.id }}">
                                        <i class="fas fa-ban"></i> Cancel
                                    </a>
                                    {% endif %}
                                    {% else %}

                                    <div class="btn-group">
                                        <a href="/analysis/scans/new/{{ c_project.id }}" type="button" class="btn btn-default btn-sm">
                                            <i title="New analysis" class="fas fa-play"></i>
                                        </a>
                                        {% if c_project.status == 1 %}
                                        <a href="/projects/{{ c_project.id }}" type="button" class="btn btn-default btn-sm">
                                            <i title="Project dashboard" class="fas fa-chart-pie"></i>
                                        </a>
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-default btn-sm dropdown-toggle dropdown-icon"
                                                data-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                    href="/analysis/workbench/{{ c_project.analysis.id }}">
                                                    <i title="Workbench" class="fas fa-laptop-code"></i>
                                                    Workbench
                                                </a>
                                                <a class="dropdown-item"
                                                    href="/analysis/inspector/{{ c_project.appinspector.id }}">
                                                    <i title="Inspector" class="fas fa-list"></i>
                                                    Inspector
                                                </a>
                                                <a class="dropdown-item"
                                                    href="/analysis/dependencies/{{ c_project.analysis.id }}">
                                                    <i title="Dependencies" class="fas fa-sitemap"></i>
                                                    Dependencies
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <button type="button" class="btn btn-default btn-sm text-danger">
                                        <i title="Delete project" class="fas fa-trash"></i>
                                    </button>
                                    {% endif %}

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
</div>

<!-- Modal New Project -->
<div class="modal fade" id="modal-new-project" tabindex="-1" role="dialog" aria-labelledby="modal-new-project"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="card-header border-0 text-center pb-0">
                    <h2 class="h4">Create a new project</h2>
                    <span>Enter a name for the new project, and upload the corresponding
                        source code archive.</span>
                </div>
                <div class="card-body">
                    <div id="upload-error-container" class="display-none alert alert-danger" role="alert">
                        <div id="upload-error" class="alert-message">
                            <!-- Error message placeholder -->
                        </div>
                    </div>
                    <form class="mt-4" method="post" action="/projects/create" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-4">
                            <label for="project-name">Project name</label>
                            <div class="input-group">
                                {{ form.name(placeholder="Project name", class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group mb-4">
                                <label for="source-archive">Source code archive</label>
                                <div class="custom-file">
                                    {{ form.source_archive(placeholder="", class="custom-file-input",
                                    onchange="showSelectedFile(this)") }}
                                    <label class="custom-file-label" for="source-archive"
                                        id="source-archive-text">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="ajaxCreateProject(this)" class="btn btn-block btn-default">
                            Create project
                        </button>
                    </form>
                    <div id="upload-progress-container" class="display-none progress mt-3 mb-3">
                        <div id="upload-progress" class="progress-bar bg-orange" role="progressbar" style="width: 0%"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                        <a href="#" class="font-weight-normal text-secondary" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal New Project -->

<!-- Modal remove confirmation -->
<div class="modal fade" id="confirm-removal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h5 class="modal-title">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">
                    You are about to delete a project.
                    All related analysis and files are going to be permanently removed.
                    This operation is irreversible.
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-project-removal-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal remove confirmation -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript">
    /* Initialize datatable */
    var dataTable = $('#projects-list-table');
    $(document).ready(function () {
        dataTable.DataTable({
            /*columnDefs: [{
                orderable: false,
                targets: 0
            }],*/
            "order": [
                [0, "desc"]
            ]
        });
    });

    /* Activate auto-refresh if a project is being analyzed */
    analyzing = document.getElementsByClassName("check-status");
    if (analyzing.length > 0) {
        ajaxRefreshStatus(analyzing[0].id);
    }

</script>
{% endblock javascripts %}