{% extends "base.html" %}

{% block title %} Project dashboard - {{ project.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% if project.risk_level > 80 %}
{% set risk_color = "danger" %}
{% set risk_color_hex = "#dc3545" %}
{% set lead_text = "This application is highly <strong>insecure</strong>." %}
{% set summary_text = "Multiple critical vulnerabilities could be exploited by an
attacker to gain full control over the system or steal sensitive information."
%}
{% elif project.risk_level > 60 %}
{% set risk_color = "orange" %}
{% set risk_color_hex = "#fd7e14" %}
{% set lead_text = "This application is fairly <strong>insecure</strong>." %}
{% set summary_text = "Major vulnerabilities may be exploited by an attacker to gain access to sensitive information or
compromize the environment running the application." %}
{% elif project.risk_level > 40 %}
{% set risk_color = "warning" %}
{% set risk_color_hex = "#ffc107" %}
{% set lead_text = "This application is somewhat <strong>insecure</strong>." %}
{% set summary_text = "Several vulnerabilities have been identified, but may require specific conditions to be
exploited, and may not necessarily result in severe damages." %}
{% elif project.risk_level > 20 %}
{% set risk_color = "info" %}
{% set risk_color_hex = "#17a2b8" %}
{% set lead_text = "This application is pretty <strong>secure</strong>." %}
{% set summary_text = "A few vulnerabilities have been identified, but are relatively minor and not easily
exploitable, making the application less vulnerable to attacks." %}
{% else %}
{% set risk_color = "success" %}
{% set risk_color_hex = "#28a745" %}
{% set lead_text = "This application is <strong>secure</strong>." %}
{% set summary_text = "No major security issues have been found
that could compromise the confidentiality, integrity, or availability of the system or its data." %}
{% endif %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Project dashboard - {{ project.name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item active">{{ project.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'messages.html' %}

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-file-archive"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Archive name</span>
                        <span class="info-box-number">
                            {{ project.archive_filename | truncate(24, True) }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-file"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Files</span>
                        <span class="info-box-number">
                            {{ project.project_lines_count.total_file_count }}
                        </span>
                    </div>
                </div>
            </div>

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-code"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lines of code</span>
                        <span class="info-box-number">{{ project.project_lines_count.total_code_count }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-gray elevation-1">
                        <i class="fas fa-hashtag"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lines of comment</span>
                        <span class="info-box-number">{{ project.project_lines_count.total_comment_count }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-xl-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-tertiary">
                            <div class="card-header">
                                <h3 class="card-title">Risk level</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="height: 12em;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div style="height: 8em;">
                                            <div class="h2 text-{{ risk_color }}"
                                                style="width: 100%; position: absolute; top: 2.35em; left: 0; margin-top: -20px; line-height:19px; text-align: center; z-index: 999999999999999">
                                                {{ project.risk_level }}
                                            </div>
                                            <canvas id="chart-risk-level-canvas"></canvas>
                                        </div>
                                    </div>

                                    <div class="col-sm-9">
                                        <p class="text-lg">
                                            {{ lead_text | safe }}
                                        </p>
                                        <p class="text-justify pt-0">
                                            {{ summary_text }}
                                        </p>
                                        <div class="btn-group">
                                            <a class="btn btn-default"
                                                href="/analysis/workbench/{{ project.analysis.id }}">
                                                <span title="Workbench" class="fas fa-laptop-code"></span>
                                                Workbench
                                            </a>
                                            <a class="btn btn-default"
                                                href="/analysis/dependencies/{{ project.appinspector.id }}">
                                                <span title="Dependencies" class="fas fa-sitemap"></span>
                                                Dependencies
                                            </a>
                                            <a class="btn btn-default"
                                                href="/analysis/inspector/{{ project.analysis.id }}">
                                                <span title="Inspector" class="fas fa-list"></span>
                                                Inspector
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Project information</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="height: 12em;">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="fas fa-user"></span>
                                Created by: 
                                {{ project.creator.username }}
                            </div>
                            <div class="col-md-12">
                                <span class="fas fa-clock"></span>
                                Analysis duration: 
                                {% set duration = (project.analysis.finished_on - project.analysis.started_on) | string
                                %}
                                {{ duration.split('.', 2)[0] }}
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            {% for c_lang in top_supported_language_lines_counts(project.project_lines_count)[0:4] %}
                            <div class="col-md-6">
                                <span class="{{ lang_icons[c_lang.name] }}"></span>
                                {{ c_lang.name }}: {{ (project.project_lines_count.language_lines_counts |
                                selectattr("language", "equalto", c_lang.name) | map(attribute='line_count') | list)[0]
                                }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-12 col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Vulnerabilities summary</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="height: 17em;">
                            <canvas id="chart-vulnerabilities-canvas"></canvas>
                        </div>
                        <p class="m-0 text-right">
                            <a href="/analysis/workbench/{{ project.analysis.id }}">Browse all vulnerabilities in the
                                workbench &gt;&gt;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Critical dependencies</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="height: 21em;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="vulnerable-deps-table" class="table" role="grid">
                                    <tbody>
                                        {% for c_vuln in (project.analysis.vulnerable_dependencies |
                                        sort(attribute='cvss_score', reverse=True))[0:5] %}
                                        <tr>
                                            <td class="align-middle">
                                                {% if c_vuln.severity == "critical" %}
                                                <span class="badge bg-danger p-2">
                                                    {% elif c_vuln.severity == "high" %}
                                                    <span class="badge bg-orange p-2">
                                                        {% elif c_vuln.severity == "medium" %}
                                                        <span class="badge bg-warning p-2">
                                                            {% else %}
                                                            <span class="badge bg-info p-2">
                                                                {% endif %}
                                                                {{ c_vuln.common_id }}
                                                            </span>
                                            </td>
                                            <td class="align-middle">
                                                {{ (c_vuln.pkg_name | capitalize + " v" + c_vuln.version) | truncate(21,
                                                True) }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p class="text-right">
                            <a href="/analysis/dependencies/{{ project.analysis.id }}">Explore all vulnerable
                                dependencies &gt;&gt;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Main features</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="height: 21em;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="vulnerable-deps-table" class="table" role="grid">
                                    <tbody>
                                        {% for c_feature in top_features %}
                                        <tr>
                                            <td class="align-middle">
                                                {{ c_feature.description }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p class="mt-3 text-right">
                            <a href="/analysis/inspector/{{ project.analysis.id }}">View all features in the inspector
                                &gt;&gt;</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- ChartJS -->
<script src="/static/assets/plugins/chart.js/chart.min.js"></script>

<script type="text/javascript">

    const risk_level = {{ project.risk_level }};
    const risk_color_hex = "{{ risk_color_hex }}";
    
    const critical_count = {{ project.analysis.vulnerabilities | selectattr("severity", "equalto", "critical") | list | length }};
    const high_count = {{ project.analysis.vulnerabilities | selectattr("severity", "equalto", "high") | list | length }};
    const medium_count = {{ project.analysis.vulnerabilities | selectattr("severity", "equalto", "medium") | list | length }};
    const low_count = {{ project.analysis.vulnerabilities | selectattr("severity", "equalto", "low") | list | length }};
    const info_count = {{ project.analysis.vulnerabilities | selectattr("severity", "equalto", "info") | list | length }};

    /**
     * Risk level chart 
     */

    (async function () {

        const data = [
            { type: "Level", percentage: risk_level },
            { type: "Padding", percentage: (100 - risk_level) },
        ];

        new Chart(
            document.getElementById('chart-risk-level-canvas'),
            {
                type: 'doughnut',
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutout: 50,
                    plugins: {
                        tooltip: {
                            enabled: false
                        },
                        legend: {
                            display: false,
                        }
                    },
                    backgroundColor: [
                        risk_color_hex,
                        risk_color_hex + "20",
                    ],
                },
                data: {
                    labels: data.map(row => row.type),
                    datasets: [
                        {
                            borderWidth: 0,
                            data: data.map(row => row.percentage)
                        }
                    ],
                },
            });
    })();

    /**
     * Vulnerabilities chart 
     */

    (async function () {
        const data = [
            { severity: "Critical", count: critical_count },
            { severity: "High", count: high_count },
            { severity: "Medium", count: medium_count },
            { severity: "Low", count: low_count },
            { severity: "Information", count: info_count },
        ];

        new Chart(
            document.getElementById('chart-vulnerabilities-canvas'),
            {
                type: 'bar',
                options: {
                    indexAxis: 'x',
                    responsive: true,
                    maintainAspectRatio: false,
                    barThickness: 35,
                    scales: {
                        x: {
                            grid: {
                                display: false
                            },
                        }
                    },
                    backgroundColor: [
                        "#dc3545",
                        "#fd7e14",
                        "#ffc107",
                        "#17a2b8",
                        "#3d9970"
                    ],
                    plugins: {
                        tooltip: {
                            enabled: false
                        },
                        legend: {
                            display: false,
                        }
                    }
                },
                data: {
                    labels: data.map(row => row.severity),
                    datasets: [
                        {
                            data: data.map(row => row.count)
                        }
                    ],
                },
            }
        );
    })();

</script>
{% endblock javascripts %}