{% extends "base.html" %}

{% block title %} Rule repositories {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Rule repositories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Rule repositories</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        The following content shows all available rule repositories, and allows to pull latest rules for each one. Pick one to view, edit or delete the rule
                        repository. Rules have to be synced (cf. <a href="/rules">Analysis rules</a>) to be available and to update the rule count of each repository.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-default" href="/repos/add">
                            <span class="fas fa-plus-circle"></span>
                            Add repository
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'messages.html' %}

        <div class="row">
            {% for c_rule_repo in rule_repos %}
            <div class="col-lg-3 col-6">
                <div class="small-box bg-secondary" title="{{ c_rule_repo.description }}">
                    <div class="inner">
                        <h4>{{ c_rule_repo.name }}</h4>
                        <b>{{ c_rule_repo.rules | length }} rules</b><br />
                        Last update: {{ c_rule_repo.last_update_on.strftime("%-d %B, %Y %H:%M") }}
                        <p><a href="/repos/pull/{{ c_rule_repo.id }}"><i class="fas fa-sync-alt"></i> Pull latest rules now</a></p>
                    </div>
                    <div class="icon">
                        <i class="fab fa-git-square"></i>
                    </div>
                    <a href="/repos/edit/{{ c_rule_repo.id }}" class="small-box-footer">
                        View / edit repository <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}