{% extends "base.html" %}

{% block title %} User accounts {% endblock %}

{% block stylesheets %}
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User accounts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users accounts</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        The following table shows all registered users.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-default" href="/users/add">
                            <span class="fas fa-plus-circle"></span>
                            Add User
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <!-- Main content -->
    <section class="content">

        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            <!-- Success message -->
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Operation succeeded</h5>
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <!-- Error message -->
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-exclamation-triangle"></i> Operation failed</h5>
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <!-- User list card -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">User list</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="users-list-table" class="table table-hover dataTable"
                                role="grid">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-mail address</th>
                                        <th>Last login</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c_user in users %}
                                    <tr>
                                        <td>
                                            {{ c_user.id }}
                                        </td>
                                        <td>
                                            {{ c_user.username }}
                                        </td>
                                        <td>
                                            {{ c_user.first_name }}
                                        </td>
                                        <td>
                                            {{ c_user.last_name }}
                                        </td>
                                        <td>
                                            {{ c_user.email }}
                                        </td>
                                        <td>
                                            {% if c_user.last_login_on is not none %}
                                            {{ c_user.last_login_on.strftime("%-d %B, %Y %H:%M") }}
                                            {% else %}
                                            Never
                                            {% endif %}
                                        </td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a href="/users/edit/{{ c_user.id }}" class="btn btn-default"><i class="fas fa-pencil-alt"></i></a>
                                                <a class="btn btn-default" href="#"
                                                onclick="setConfirmAction('confirm-user-removal-button', '/users/remove/{{ c_user.id }}')"
                                                data-toggle="modal" data-target="#confirm-removal"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                </div>
            </div>

        </div>
    </section>
</div>

<!-- Modal remove confirmation -->
<div class="modal fade" id="confirm-removal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h5 class="modal-title">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">
                    You are about to delete a user. 
                    All of its projets will be kept. 
                    This operation is irreversible.
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-user-removal-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal remove confirmation -->

{% endblock content %}

{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#users-list-table').DataTable();
    });
</script>
{% endblock javascripts %}