<!-- Navbar -->
<nav id="main-navbar"
  class="main-header navbar navbar-expand 
  {% if user is defined and user.dark_theme %}
  navbar-gray-dark navbar-dark
  {% else %}
  navbar-white navbar-light
  {% endif %}">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/dashboard" class="nav-link">Home</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">

    <!-- Dark theme switch -->
    <li class="nav-item dropdown">
      <a class="nav-link" onclick="switchTheme()">
        <span class="fas fa-adjust"></span></a>
    </li>
    <!-- Team Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" href="/teams_setting">
        <span class="fas fa-users"></span>
      </a>
    </li>
    <!-- User Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fas fa-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">{{ current_user.username }}</span>
        <div class="dropdown-divider"></div>
        <a href="{{ url_for('base_blueprint.logout') }}" class="dropdown-item">
          <i class="fas fa-power-off"></i> Logout
        </a>
      </div>
    </li>

  </ul>
</nav>
