{% extends "base-fullscreen.html" %}

{% block title %} Grepmarx - Login {% endblock %}

{% block body_class %} login-page {% endblock body_class %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

  <div class="login-box">

    <div class="login-logo">
      <h1>
        <div class="text-orange d-inline">grep</div>marx
        </h1>
    </div>

    <div class="card">
      <div class="card-body login-card-body">

        <p class="login-box-msg">
            Welcome !
            <br>
            Create your account
        </p>

          {% if error %}
              <p class="alert-danger">{{ error }}</p>
          {% endif %}

        <form method="post" action="">

          <div class="input-group mb-3">
            {{ form.username(placeholder="Username", class="form-control") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.first_name(placeholder="First Name", class="form-control") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.last_name(placeholder="Last Name", class="form-control") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.email(placeholder="Email", class="form-control") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password(placeholder="Password", class="form-control", type="password") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password_confirm(placeholder="Password Confirm", class="form-control", type="password") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <button type="submit" name="register" class="btn btn-primary btn-block">Register</button>
            </div>
          </div>
        </form>

        <br /><br />

        <div class="text-center">
          <h6>
            &copy; <div class="text-orange d-inline">Orange</div>Cyberdefense
          </h6>
          <small>
            grepmarx v0.7.5
          </small>
        </div>

      </div>
    </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- jQuery -->
  <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock javascripts %}
