{% extends "base.html" %}

{% block title %}
LDAP configuration
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>LDAP configuration</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">LDAP configuration</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        Fill the following form to activate LDAP authentication on Grepmarx and to configure the LDAP
                        server.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <form class="form-horizontal" method="post" action="/ldap/configuration">

            {{ form.hidden_tag() }}

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">LDAP settings</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="custom-control custom-switch">
                                {{ form.ldap_activated(class="custom-control-input") }}
                                <label class="custom-control-label" for="ldap-activated">
                                    Enable LDAP authentication
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="custom-control custom-switch">
                                {{ form.users_approval(class="custom-control-input") }}
                                <label class="custom-control-label" for="ldap-users-approval">
                                    Users requires administrator approval on first login
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">LDAP server</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="custom-control custom-switch">
                                {{ form.use_tls(class="custom-control-input") }}
                                <label class="custom-control-label" for="ldap-use-tls">
                                    Enable TLS
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-server-uri" class="col-sm-2 col-form-label">LDAP server</label>
                        <div class="col-sm-10">
                            {{ form.server_host(placeholder="ldap.example.com", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-server-port" class="col-sm-2 col-form-label">Port</label>
                        <div class="col-sm-10">
                            {{ form.server_port(placeholder="389", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-cacert-path" class="col-sm-2 col-form-label">CA certificate path</label>
                        <div class="col-sm-10">
                            {{ form.cacert_path(placeholder="/opt/grepmarx/ldap-cert/ldap-ca.crt", class="form-control")
                            }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Authentication settings</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="ldap-bind-dn" class="col-sm-2 col-form-label">Bind DN</label>
                        <div class="col-sm-10">
                            {{ form.bind_dn(placeholder="cn=read-only-admin,dc=example,dc=com",
                            class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-bind-password" class="col-sm-2 col-form-label">Bind password</label>
                        <div class="col-sm-10">
                            {{ form.bind_password(placeholder="", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-base-dn" class="col-sm-2 col-form-label">Base DN</label>
                        <div class="col-sm-10">
                            {{ form.base_dn(placeholder="dc=example,dc=com", class="form-control") }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">LDAP properties</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="ldap-users-dn" class="col-sm-2 col-form-label">Users DN</label>
                        <div class="col-sm-10">
                            {{ form.users_dn(placeholder="ou=users", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-groups-dn" class="col-sm-2 col-form-label">Groups DN</label>
                        <div class="col-sm-10">
                            {{ form.groups_dn(placeholder="ou=groups", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-user-rdn-attr" class="col-sm-2 col-form-label">User RDN
                            attribute</label>
                        <div class="col-sm-10">
                            {{ form.user_rdn_attr(placeholder="cn", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-user-login-attr" class="col-sm-2 col-form-label">User login
                            attribute</label>
                        <div class="col-sm-10">
                            {{ form.user_login_attr(placeholder="mail", class="form-control") }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Search filters</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="ldap-users-dn" class="col-sm-2 col-form-label">Users object filter</label>
                        <div class="col-sm-10">
                            {{ form.user_object_filter(placeholder="(objectclass=person)", class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ldap-groups-dn" class="col-sm-2 col-form-label">Group object filter</label>
                        <div class="col-sm-10">
                            {{ form.group_object_filter(placeholder="(objectclass=posixGroup)", class="form-control") }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                    <input name="save-ldap-config" type="submit" value="Save LDAP configuration"
                        class="btn btn-default float-right">
                </div>
            </div>

        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% include 'toasts.html' %}
{% endblock javascripts %}