{% extends "base.html" %}

{% block title %} LDAP information{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/enlighterjs/css/enlighterjs.min.css" />
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

{% endblock stylesheets %}


{% block content %}

<!-- Content Header (Page header) -->

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-sm-8">
          <h2>LDAP</h2>
          <div>
            It is an Internet Protocol for looking up contact information about users, information about certificates,
            network pointers, etc.,
            from a server where the data is stored in a directory style structure.
            Its most popular use is to provide a "single sign on" where a user can access multiple applications by
            logging in once as the password would
            be shared across services.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">LDAP Configuration</h3>
      </div>

      <div class="card-body" id="form_ldap">
        <div class="form-group row">
          <label for="ldap-name" class="col-sm-2 col-form-label">Display Name</label>
          <div class="col-sm-10">
            {{ form.display_name(placeholder="Name of your LDAP configuration", class="form-control", id="form_name") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="ldap-password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            {{ form.password(placeholder="admin password", class="form-control",id="form_passwd") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="ldap-url" class="col-sm-2 col-form-label">LDAP URL</label>
          <div class="col-sm-10">
            {{ form.url(placeholder="LDAP Url (ex ldap://server:636) - Only SASL", class="form-control",id="form_url") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="ldap-dn" class="col-sm-2 col-form-label">Admin Bind </label>
          <div class="col-sm-10">
            {{ form.admin_bind_dn(placeholder="Example :  cn=admin,ou=test,dc=test,dc=com (to log your admin account)", class="form-control",id="form_Dnd") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="ldap-search" class="col-sm-2 col-form-label">Search base</label>
          <div class="col-sm-10">
            {{ form.search_base( placeholder="Example : ou=test,ou=test2,dc=test,dc=com (path to search your users ldap account)",class="form-control",id="form_base") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="ldap-filter" class="col-sm-2 col-form-label">Search Filter</label>
          <div class="col-sm-10">
            {{ form.searchfilter( placeholder="Example : (&(o=test)(uid={{username}})) (filter is using to parse the output and only get parameters )",class="form-control",id="form_filter")
            }}
          </div>
        </div>
        <div class="form-group row">
          <label for="ldap-cert" class="col-sm-2 col-form-label">TLS Certificate</label>
          <div class="col-sm-10">
            {{ form.tls_cert( class="form-control",id="form_tls") }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-sm-12">
          <div class="btn-group float-sm-right">
            <button class="btn btn-default" data-toggle="modal" data-target="#confirm-bind">
              <span class="fas fa-globe"></span>
              Save and Bind Connection Test
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal test -->
<div class="modal fade" id="confirm-bind" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal overlay-->
    <div class="modal-content bg-default">
      <div class="modal-header">
        <h5 class="modal-title">Confirm bind testing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body m-3">
        <p class="mb-0">You are about to test the bind connection. If the connectio is a success you can save your
          configuration. If not
          please enter the right parameters
        </p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" id="confirm-bind-button" onclick="ajax_test()">Bind</button>
      </div>
    </div>
  </div>
</div>
<!-- End of modeal test  confirmation -->

{% endblock content %}


{% block javascripts %}

<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
  function ajax_test() {

    reqInspDetails = new XMLHttpRequest();

    var name = document.getElementById('form_name').value;
    var passwd = document.getElementById('form_passwd').value;
    var url = document.getElementById('form_url').value;
    var Dnd = document.getElementById('form_Dnd').value;
    var base = document.getElementById('form_base').value;
    var filter = document.getElementById('form_filter').value;
    // var tls = document.getElementById('form_tls').value;

    reqInspDetails.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.location = "/ldap"
      }
      else{
        alert('Error configuration, password or server adress is invalid')
      }
    };

    reqInspDetails.open('GET', '/ldap/testing?name=' + name + '&passwd=' + passwd + '&url=' + url + '&Dnd=' + Dnd +
      '&base=' + base + '&filter=' + filter);
    reqInspDetails.send();

  }
</script>
{% endblock javascripts %}