{% extends "base.html" %}

{% block title %}
{% if edit %}Edit{% else %}Add{% endif %} repository
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{% if edit %}Edit{% else %}Add{% endif %} repository</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/users">Repositories</a></li>
                        <li class="breadcrumb-item active">{% if edit %}Edit{% else %}Add{% endif %} repository</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        Fill the following form to {% if edit %}modify the{% else %}add a new{% endif %} repository.
                    </p>
                </div>
                {% if edit %}
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-default" href="#"
                            onclick="setConfirmAction('confirm-repo-removal-button', '/repos/remove/{{ form.id.data }}')"
                            data-toggle="modal" data-target="#confirm-removal">
                            <span class="fas fa-trash"></span>
                            Remove repository
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        {% include 'messages.html' %}
        
        <form class="form-horizontal" method="post" 
            {% if edit %}action="/repos/edit/{{ form.id.data }}"{% else %}action="/repos/add"{% endif %}>
            {{ form.hidden_tag() }}

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Repository information</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="form-group row">
                        <label for="repo-name" class="col-sm-2 col-form-label">Repository name</label>
                        <div class="col-sm-10">
                            {{ form.name(placeholder="Repository name (only letters, numbers, dash - or underscore _ characters)", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="repo-description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            {{ form.description(placeholder="Short description of the repository", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="repo-uri" class="col-sm-2 col-form-label">URI</label>
                        <div class="col-sm-10">
                            {{ form.uri(placeholder="URI (eg. https://example.com/repo.git)", class="form-control") }}
                        </div>
                    </div>
                    <p>
                        <br>

                        <a class="btn btn-secondary" data-toggle="collapse" href="#private_git" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Private Repositories
                        </a>
                    </p>                       
                        <div class="collapse" id="private_git">
                        <div class="form-group row">
                            
                            <label for="repo-username" class="col-sm-2 col-form-label">Git username </label>
                            <div class="col-sm-10">
                                {{ form.git_username(placeholder="Git Username ", class="form-control") }}                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="repo-token" class="col-sm-2 col-form-label">Git Access Token </label>
                            <div class="col-sm-10">
                                {{ form.git_token(placeholder=" Acces Token ", class="form-control") }}
                            </div>
                            
                            <a class="col-sm-2" href="https://docs-github-com.translate.goog/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token?_x_tr_sl=auto&_x_tr_tl=fr&_x_tr_hl=en" >
                                <br>How to generate your Acces token
                            </a>
                        </div>
                        </div>
                        
     
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <a href="/repos" class="btn btn-secondary">Cancel</a>
                    <input name="save-repo" type="submit" value="Save repository" class="btn btn-default float-right">
                </div>
            </div>

        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal remove confirmation -->
<div class="modal fade" id="confirm-removal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h5 class="modal-title">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">
                    You are about to delete a repository.
                    <b>All rules related to this repository are going to be deleted</b>.
                    It won't however affect already scanned projects.
                    This operation is irreversible.
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-repo-removal-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal remove confirmation -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}