{% extends "base.html" %}

{% block title %}
{% if edit %}Edit{% else %}Add{% endif %} user
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{% if edit %}Edit{% else %}Add{% endif %} user</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/users">Users</a></li>
                        <li class="breadcrumb-item active">{% if edit %}Edit{% else %}Add{% endif %} user</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-sm-8">
                    <p class="mb-3">
                        Fill the following form to {% if edit %}modify the{% else %}add a new{% endif %} user.
                    </p>
                </div>
                {% if edit %}
                <div class="col-sm-4">
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-default" href="#"
                            onclick="setConfirmAction('confirm-user-removal-button', '/users/remove/{{ form.id.data }}')"
                            data-toggle="modal" data-target="#confirm-removal">
                            <span class="fas fa-trash"></span>
                            Remove user
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <form class="form-horizontal" method="post" 
            {% if edit %}action="/users/edit/{{ form.id.data }}"{% else %}action="/users/add"{% endif %}>
            {{ form.hidden_tag() }}

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">User information</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="user-username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            {{ form.username(placeholder="Username", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-first-name" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            {{ form.first_name(placeholder="First name", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-last-name" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            {{ form.last_name(placeholder="Last name", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            {{ form.email(placeholder="Mail address", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-role" class="col-sm-2 col-form-label">Admin</label>
                        <div class="col-sm-10">
                            {{ form.role( class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default {% if edit %}collapsed-card{% endif %}">
                <div class="card-header">
                    <h3 class="card-title">{% if edit %}Change{% else %}Set{% endif %} password</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="{% if edit %}fas fa-plus{% else %}fas fa-minus{% endif %}"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="user-password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            {{ form.password(placeholder="Password", class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-password" class="col-sm-2 col-form-label">Confirm password</label>
                        <div class="col-sm-10">
                            {{ form.password_confirm(placeholder="Confirm password", class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <a href="/users" class="btn btn-secondary">Cancel</a>
                    <input name="save-user" type="submit" value="Save user" class="btn btn-default float-right">
                </div>
            </div>

        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal remove confirmation -->
<div class="modal fade" id="confirm-removal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h5 class="modal-title">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">
                    You are about to delete a user.
                    All of its projets will be kept.
                    This operation is irreversible.
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-user-removal-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal remove confirmation -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% include 'toasts.html' %}
{% endblock javascripts %}